<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&family=Kaushan+Script&family=Roboto+Slab:wght@100;300;400;700&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="{{ '/assets/css/all.min.css' | relative_url }}" rel="stylesheet">
<link href="{{ '/assets/css/bootstrap.min.css' | relative_url }}" rel="stylesheet">
<link href="{{ '/assets/css/agency.css' | relative_url }}" rel="stylesheet">

<!-- SIEMPRE último -->
<link href="{{ '/assets/css/custom.css?v=' | append: site.time | relative_url }}" rel="stylesheet">
